.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 240px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    padding: 5%;
    z-index: 1000;
    border: 1px solid #eeeeee;
}

.titleContainer {
    display: flex;
    height: 40px;
    border-bottom: 2px solid #777;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8px;
    height: 40px;
    align-items: center;
}

.rowTitle {
    font-weight: bold;
}