.container {
    height: 100%;
    width: 100%;
}

.trainSetTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 18px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    background-color: #333333;
    color: white;
}

.trainSet {
    height: 60%;
    width: 100%;
}

.regionInfo {
    width: 100%;
    height: 40%;
    border-bottom: 2px solid #efefef;
}

.regionInfoTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 18px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    background-color: #333333;
    color: white;
}

.switchCircle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    border-width: 0px;
    border-style: solid;
}

.switchCircle:hover {
    filter: brightness(0.8) drop-shadow(1px 1px 1px black);
}

.switchCircleSelected {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #ccc;
}

.switchContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 12px;
    margin-bottom: 12px;
    height:30px;
}