.mainView {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.leftView {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rightView {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.leftTopView {
  width: 100%;
  height: 55%;
  background-color: white;
}

.leftBottomView {
  width: 100%;
  height: 45%;
  background-color: white;
}

.rightTopView {
  width: 100%;
  height: 70%;
  background-color: chocolate;
}

.rightBottomView {
  width: 100%;
  height: 30%;
  background-color: cornflowerblue;
}
