.container {
    height: 100%;
    width: 100%;
    /* background-color: black; */
}
.trainParam {
    height: 50%;
    width: 100%;
    border-bottom: 2px solid #efefef;
}
.trainList {
    height: 50%;
    width: 100%;
}
.paramText {
    width: 60%;
    text-align: left;
    align-self: center;
}

.paramInput {
    width: 30%!important;
}

.paramBtn {
    font-size: 1.2vh;
    height: 2.5vh;
    padding: 0.2vh 0.5vw;
}

.paramSlider {
    width:30%;
    margin: 0!important;
}

.paramContainer {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    display: flex;
    font-size: 1.2vh;
    padding-top: 0.8vh;
}
.paramTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 1.6vh;
    box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    background-color: #333333;
    color: white;
    height: 12%;
}

.paramContent {
    height: 88%;
}
.trainListTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 1.6vh;
    height: 12%;
    box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    background-color: #333333;
    color: white;
}

.spin{
    width: 100%;
}

.spin i {
    background-color: #333333;
}

.help {
    color: white;
}