.container {
    height: 100%;
    width: 100%;
    /* background-color: black; */
}
.trainParam {
    height: 45%;
    width: 100%;
    border-bottom: 2px solid #efefef;
}
.trainList {
    height: 55%;
    width: 100%;
}
.paramText {
    width: 60%;
    text-align: left;
    align-self: center;
}

.paramInput {
    width: 30%!important;
}

.paramContainer {
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    display: flex;
    margin-top: 9px;
}
.paramTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 18px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    background-color: #333333;
    color: white;
}
.trainListTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4px;
    padding-top: 4px;
    font-size: 18px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 20%);
    background-color: #333333;
    color: white;
}

.spin{
    width: 100%;
}

.spin i {
    background-color: #333333;
}

.help {
    color: white;
}